{{#if @canMoveHere}}
  <button
    aria-label="move here"
    type="button"
    class="empty-space"
    {{on "click" @moveHere}}
    {{on "drop" this.drop}}
    {{on "dragenter" this.dragEnter}}
    {{on "dragover" this.dragOver}}
    ...attributes
  >
  </button>
{{else}}
  <button
    aria-label="move here"
    class="empty-space"
    disabled
    type="button"
    ...attributes
  >
  </button>
{{/if}}
