<div class="sr-only" role="alert" aria-live="polite">
  {{#if this.previousTurnInfo}}
    <p>
      {{this.previousTurnInfo.color}} moved their {{this.previousTurnInfo.type}} from {{this.previousTurnInfo.from}} to {{this.previousTurnInfo.to}}.
    </p>
  {{/if}}
  <p>{{this.turnColor}}'s turn.</p>
</div>

<div class="
  surface
  {{this.turnColor}}
  {{this.gameMode}}
  {{if this.isShowingKey "show-key"}}
  {{if this.isShowingGuide "show-guide"}}
  {{if this.isShowingLog "show-log"}}"
  data-test="game"
  data-test-turn="{{this.turn}}"
  data-test-turn-color="{{this.turnColor}}"
>
  <Board
    @board={{this.board}}
    @turnColor={{this.turnColor}}
    @incrementTurn={{this.incrementTurn}}
    @gameMode={{this.gameMode}}
  />
</div>

<Settings
  @resetGame={{this.resetGame}}
  @isShowingKey={{this.isShowingKey}}
  @toggleKey={{this.toggleKey}}
  @gameMode={{this.gameMode}}
  @setGameMode={{this.setGameMode}}
  @isShowingGuide={{this.isShowingGuide}}
  @toggleGuide={{this.toggleGuide}}
  @isShowingLog={{this.isShowingLog}}
  @toggleLog={{this.toggleLog}}
  @fen={{this.fen}}
  @updateFen={{this.updateFen}}
/>