<div class="piece {{@piece.color}} {{if this.canBeTaken "can-be-taken"}} {{if this.isDragging "is-dragging"}}">
  <div {{did-insert (set this "dragImage")}}></div>
  <button
    aria-label="{{@piece.color}} {{@piece.type}}"
    type="button"
    disabled={{and (not @isMyTurn) (not this.canBeTaken)}}
    draggable={{@isMyTurn}}
    {{on "click" (if this.canBeTaken @moveHere @select)}}
    {{on "touchstart" this.touchStart}}
    {{on "dragstart" this.dragStart}}
    {{on "dragend" this.dragEnd}}
    {{on "drop" this.drop}}
    {{on "dragenter" this.dragEnter}}
    {{on "dragover" this.dragOver}}
    data-test="{{@piece.color}} {{@piece.type}}"
  >
    <Icon::Piece
      @type={{@piece.type}}
      @color={{@piece.color}}
      {{did-insert this.createDragImages}}
    />
  </button>
</div>