<div class="piece {{@piece.color}} {{if this.canBeTaken "can-be-taken"}} {{if this.isDragging "is-dragging"}}">
  <div {{did-insert (set this "dragImage")}}></div>
  <button
    aria-label="{{@piece.color}} {{@piece.type}}"
    type="button"
    disabled={{and (not @isMyTurn) (not this.canBeTaken)}}
    draggable={{@isMyTurn}}
    {{on "click" (if this.canBeTaken @moveHere @select)}}
    {{on "dragstart" this.dragStart}}
    {{on "dragend" this.dragEnd}}
    {{on "drop" this.drop}}
    {{on "dragenter" this.dragEnter}}
    {{on "dragover" this.dragOver}}
    data-test={{@piece.type}}
  >
    {{#if (eq @piece.type "pawn")}}
      <Icon::Pawn @color={{@piece.color}} {{did-insert this.createDragImage}} />

    {{else if (eq @piece.type "rook")}}
      <Icon::Rook @color={{@piece.color}} {{did-insert this.createDragImage}} />

    {{else if (eq @piece.type "knight")}}
      <Icon::Knight @color={{@piece.color}} {{did-insert this.createDragImage}} />

    {{else if (eq @piece.type "bishop")}}
      <Icon::Bishop @color={{@piece.color}} {{did-insert this.createDragImage}} />

    {{else if (eq @piece.type "queen")}}
      <Icon::Queen @color={{@piece.color}} {{did-insert this.createDragImage}} />

    {{else if (eq @piece.type "king")}}
      <Icon::King @color={{@piece.color}} {{did-insert this.createDragImage}} />

    {{/if}}
  </button>
</div>