<div class="piece {{@piece.color}} {{if this.canBeTaken "can-be-taken"}} {{if (eq @selectedPiece @piece) "selected"}}">
  <button 
    type="button"
    disabled={{and this.isNotMyTurn (not this.canBeTaken)}}
    {{on "click" (if this.canBeTaken @move (fn @select @piece))}}
  >
    {{#if (eq @piece.type "pawn")}}
      <Piece::Pawn />
    {{else if (eq @piece.type "rook")}}
      <Piece::Rook />
    {{else if (eq @piece.type "knight")}}
      <Piece::Knight />
    {{else if (eq @piece.type "bishop")}}
      <Piece::Bishop />
    {{else if (eq @piece.type "queen")}}
      <Piece::Queen />
    {{else if (eq @piece.type "king")}}
      <Piece::King />
    {{/if}}
  </button>
</div>