<div class="piece {{@piece.color}} {{if this.canBeTaken "can-be-taken"}}">
  <button
    type="button"
    disabled={{and (not @isMyTurn) (not this.canBeTaken)}}
    draggable={{@isMyTurn}}
    {{on "click" (if this.canBeTaken @moveHere @select)}}
    {{on "dragstart" this.dragStart}}
    {{on "dragend" this.dragEnd}}
    {{on "drop" this.drop}}
    {{on "dragover" this.dragOver}}
  >
    {{#if (eq @piece.type "pawn")}}
      <Icon::Pawn @color={{@piece.color}} />

    {{else if (eq @piece.type "rook")}}
      <Icon::Rook @color={{@piece.color}} />

    {{else if (eq @piece.type "knight")}}
      <Icon::Knight @color={{@piece.color}} />

    {{else if (eq @piece.type "bishop")}}
      <Icon::Bishop @color={{@piece.color}} />

    {{else if (eq @piece.type "queen")}}
      <Icon::Queen @color={{@piece.color}} />

    {{else if (eq @piece.type "king")}}
      <Icon::King @color={{@piece.color}} />

    {{/if}}
  </button>
</div>