<button
  aria-label="toggle settings menu"
  aria-controls="settings-panel"
  type="button"
  class="settings-button"
  data-test="settings-button"
  {{on "click" this.toggle}}
>
  <Icon::Gear />
</button>

<div id="settings-panel" aria-expanded={{if this.isShowing "true" "false"}}>
  {{#if this.isShowing}}
    <form class="settings-modal">
      <fieldset class="radio-group">
        <legend class="sr-only">Game mode</legend>
        <label title="Pieces rotate but board does not">
          <input
            type="radio"
            name="game-mode"
            checked={{eq @gameMode "tabletop"}}
            {{on "change" (fn @setGameMode "tabletop")}}
          >
          Tabletop
        </label>

        <label title="Board rotates on screen">
          <input
            type="radio"
            name="game-mode"
            checked={{eq @gameMode "pass-and-play"}}
            data-test="pass-and-play"
            {{on "change" (fn @setGameMode "pass-and-play")}}
          >
          Pass and play
        </label>
      </fieldset>

      <fieldset>
        <legend class="sr-only">Game settings</legend>

        <label title="displays grid coordinates (ex. a1, b2)">
          <input type="checkbox" checked={{@isShowingKey}} {{on "change" @toggleKey}}>
          Show key
        </label>

        <label title="Highlights available spaces when a piece is selected">
          <input type="checkbox" checked={{@isShowingGuide}} {{on "change" @toggleGuide}}>
          Show move guide
        </label>

        <label title="coming soon">
          <input type="checkbox" checked={{@isShowingLog}} {{on "change" @toggleLog}} disabled>
          Show game log
        </label>

        <textarea
          aria-label="FEN code for new game (optional)"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          class="fen-textarea"
          data-test="fen-textarea"
          spellcheck="false"
          placeholder="FEN for new game (optional)"
          value={{@fen}}
          {{on "input" @updateFen}}
        >
        </textarea>
      </fieldset>

      <button
        type="button"
        class="new-game"
        data-test="new-game-button"
      >
        start new game
      </button>
    </form>
  {{/if}}
</div>