<div
  class="surface {{@gameMode}} {{@turnColor}} {{if @isShowingKey "show-key"}} {{if @isShowingGuide "show-guide"}}"
  data-test="game"
  data-test-turn="{{@turn}}"
  data-test-turn-color="{{@turnColor}}"
>
  {{yield}}
</div>